{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "overrides": [
        {
            "files": ["*.md", "*.json", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
